+{
  debug_mode => 0,
  
  headers => [""],

  # Multiplication of number of operators and expressionis
  e_size_num => 1,

  # Option of the compiler, separated by commas
  options => [ "-O0", "-O3" ],

  # Name of C file
  source_file => 'x86_64-cygwin-gcc-test.c',

  # Name of Executable file
  exec_file => 'x86_64-cygwin-gcc-test.exe',

  # Macro (OK) of C source
  macro_ok => 'printf("@OK@\n")',

  # Macro (NG) of C source
  macro_ng => 'printf("@NG@ (test = " fmt ")\n",val)',

  # Command of the compiler
  compiler => 'gcc',

  # Operators, separated by spaces
  #operators => [
  #  qw(+ + + - - - * * * * * * / / / / / / % % % % % % << << << << << << >> >> >> >> >> >> == != < > <= >= && || | | | & & & ^ ^ ^)
  #],
  
  # Operators, separated by spaces 推移用
  #operators => [
  #  qw(+ + + - - - * * * * * * / / / / / / == !=)
  #],
  
  operators => [
    qw(+ + + - - - * * * * * * / / / / /)
  ],

  # Storage classes, separated by commas
  classes => [ "static", "" ],

  # Modifiers, separated by commas
  # ("const" is unused in some variables.)
  modifiers => [ "const", "volatile", "const volatile", "" ],

  # Types, separated by commas
  types => [
    #"signed int",
    #"unsigned int",
    "float",
  ],
  
  
  main_type => "void",

  # Scopes, separated by commas
  scopes => [ "LOCAL" ,],

  # Details of types
  type => {
    "signed int" => {
      order         => 5,
      printf_format => '%d',
      const_suffix  => '',
      bits          => 32,
      min           => -2147483648,
      max           => 2147483647,
    },
    #"unsigned int" => {
    #  order         => 6,
    #  printf_format => '%u',
    #  const_suffix  => 'U',
    #  bits          => 32,
    #  min           => 0,
    #  max           => 4294967295,
    #},
    "float" => {
      order         => 11,
      printf_format => '%0.5e',
      const_suffix  => 'F',
      bits          => 24,
      min           => -8388608,
      max           => 8388607,
    },
  }
  }
